
/*
 * global
 */

$name    : '.kdb-miniTable';

$miniTable-header-background: #e4f2fb;
$miniTable-header-color: #596879;
$miniTable-header-font-style: bold;
$miniTable-header-font-size: 10px;

$miniTable-body-background: #ecf0f3;
$miniTable-body-2n-background: transparent;
$miniTable-body-color: #596879;
$miniTable-body-font-size: 10px;
$miniTable-body-padding: 10px 10px;

/*
 * Build
 */

@mixin layout {

}

@mixin tableHeader {
  display: flex;
  align-content: center;
  align-items: center;
  background: $miniTable-header-background;
  color: $miniTable-header-color;
  font-weight: $miniTable-header-font-style;
  font-size: $miniTable-header-font-size;
  > div {
    width: 100%;
    padding: 10px 10px;
  }
}

@mixin tablebody {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: $miniTable-body-background;
  color:$miniTable-body-color;
  font-size: $miniTable-body-font-size;
  &:nth-child(2n) { background-color: $miniTable-body-2n-background }
  > div {
    width: 100%;
    padding: $miniTable-body-padding;
    @include text-overflow;
  }
}

@mixin tableOpt {
  &.x3 {
    .tableHeader td, .tablebody td {width: 33.33%}
  }
  &.x2 {
    .tableHeader td, .tablebody td {width: 50%}
  }
}

/*
 * Init
 */
@mixin kdb-miniTable($selector: $name) {
  #{$selector} {
    @include layout;
    @include tableOpt;
    .tableHeader {
      @include tableHeader;
    }
    .tablebody {
      @include tablebody;
    }
  }
}

@include kdb-miniTable;