.formSwitchGroup {
  display: flex;
  align-content: center;
  align-items: center;
  .formSwitchbox {
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 24px;
  }
}