
/*
 * global
 */

$name    : '.kdb-progressChart';

$i: 0;
$progressChart-color: #80c1f0, #e1bce5, #a2d4f8, #c2e257, #abe8c9;

$progressChart-layout-padding: 12px 0;

$progressChart-title-width: 50px;
$progressChart-title-size: 10px;
$progressChart-title-padding: 12px 0;
$progressChart-title-color: #596879;

$progressChart-value-width: 30px;
$progressChart-value-font-size: 10px;
$progressChart-value-padding: 0 10px 0 0;
$progressChart-value-color: #596879;
$progressChart-value-align: center;

$progressChart-prchart-width: calc(100% - 80px);
$progressChart-prchart-margin: 0 0 0 0;
$progressChart-prchart-height: 8px;
$progressChart-prchart-background: #e5e5e5;
$progressChart-prchart-radious: 8px;
$progressChart-prchart-shadow: none;

$progressChart-transition: .6s cubic-bezier(.4,.38,0,1.19);
  /*
   * Build
   */

@mixin layout {
  display: flex;
  align-items: center;
  align-content: center;
  padding: $progressChart-layout-padding;
}

@mixin title {
  width: $progressChart-title-width;
  flex-shrink: 0;
  font-size: $progressChart-title-size;
  color: $progressChart-title-color;
  padding: $progressChart-title-padding;
  @include text-overflow;
}

@mixin value {
  width: $progressChart-value-width;
  flex-shrink: 0;
  padding: $progressChart-value-padding;
  font-size: $progressChart-value-font-size;
  color: $progressChart-value-color;
  text-align: $progressChart-value-align;
}

@mixin prChart {
  width: $progressChart-prchart-width;
  flex-shrink: 0;
  margin: $progressChart-prchart-margin;
  height: $progressChart-prchart-height;
  box-shadow: $progressChart-prchart-shadow;
  background-color: $progressChart-prchart-background;
  border-radius: $progressChart-prchart-radious;
}

@mixin progress-bar {
  height: 100%;
  box-shadow: $progressChart-prchart-shadow;
  border-radius: $progressChart-prchart-radious;
  transition: $progressChart-transition;
}

@mixin anion {
  &.anioff {
    opacity:1;
    .progress-bar {width:0!important;}
  }
  &.anion {
    opacity:1;
    .progress-bar {width:auto;}
  }
}

@mixin animation {
  &[type = 'analysis'] { .progress-bar {background-color: nth($progressChart-color, 1)} }
  &[type = 'files'] { .progress-bar {background-color: nth($progressChart-color, 2)} }
  &[type = 'area'] { .progress-bar {background-color: nth($progressChart-color, 3)} }
  &[type = 'pass'] { .progress-bar {background-color: nth($progressChart-color, 4)} }
  &[type = 'cnc'] { .progress-bar {background-color: nth($progressChart-color, 5)} }
}

/*
 * Init
 */
@mixin kdb-progressChart($selector: $name) {
  #{$selector} {
    @include layout;
    @include animation;
    @include anion;
    .title {
      @include title;
    }
    .prChart {
      @include prChart;
      .progress-bar {
        @include progress-bar;
      }
    }
    .value {
      @include value;
    }
  }
}

@include kdb-progressChart;
