.appBody {
  height:100%;
}

.containerIndex {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  height:100%;
}

.includeInforchart {}

.includeLinechart {
  position: relative;
  &:before {
    position: absolute;
    top:0;
    left:0;
    content: '';
    display: block;
    width: calc(100% - 180px);
    height: 100%;
    background-color: #e2f2fc;
    z-index: -1;
  }
  &:after {
    position: absolute;
    top:0;
    right:0;
    content: '';
    display: block;
    width: calc(100% - (100% - 180px));
    height: 100%;
    background: linear-gradient(-45deg, #eef8ff, #fff);
    z-index: -1;
  }
  padding-bottom: 10px;
}

.includeProgressbarchart {

}


.progressbarchart {
  display: flex;
  align-items: center;
  align-content: center;
  .chartItem {
    h2 {
      color:#596879;
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    background: linear-gradient(-45deg, #eef8ff, #fff);
    padding: 0 16px 20px 16px;
    width: 20%;
    box-sizing: border-box;
    border-top: 1px #c6d7e5 solid;
    border-bottom: 1px #c6d7e5 solid;
    border-right: 1px #c6d7e5 solid;
    &:first-of-type {
      border-left: 1px #c6d7e5 solid;
    }
  }
}