.containerFooter {
  background-color: #e2f2fc;
  width: 100%;
  font-size: 10px;
  color: #1e90e5;
  min-height: 30px;
  line-height: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
}